.full-image {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  z-index: 50;
}

.full-image__wrap {
  max-width: calc(100% - 2rem);
  width: 1000px;
  background: #111;
  overflow: hidden;
  border: 1px solid #4f4f4f;
  border-radius: 3px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
}

.full-image__wrap {
  transition: 0.5s;
  transform: translate(-50%, calc(100vh + 50%));
}

.full-image__wrap.fade-in {
  transition: 0.3s cubic-bezier(0.08, 0.82, 0.42, 1.11);
  transform: translate(-50%, -50%);
}

@media (min-width: 480px) {
  .full-image__wrap {
    transform-origin: left center;
  }

  .full-image__wrap.fade-out {
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
    /*
    transition: 0.5s;
    
    */
  }

  .full-image__wrap.fade-in {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
    /*
    transition: 0.3s cubic-bezier(0.08, 0.82, 0.42, 1.11);
    */
  }
}




.full-image__image-wrapper {
  height: 600px;
  max-height: calc(100vh - 50px);
  position: relative;
  flex: 1;
}

.full-image__image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}