.reload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 50%;
  z-index: 40;
  box-shadow: 0 1rem 1.5rem rgba(0,0,0,.1);
  position: fixed;
  padding: 1rem;
  background: #f1f1f1;
  cursor: pointer;
  border: 1px solid #efefef;
  bottom: 2rem;
  right: 2rem;
  animation: spin 2s linear infinite;
  animation-play-state: paused;
}

@media (min-width: 768px) {
  .reload-button {
    bottom: 3rem;
    right: 3rem;
  }
}

.reload-button svg {
  transition: .5s;
}

@media (any-hover: hover) {
  .reload-button:hover {
    animation-play-state: running;
  }
  .reload-button:hover svg {
    stroke: #1d4ed8;
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
